<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetAnuncios</servlet-name>
        <servlet-class>Comprador.Publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetModelos</servlet-name>
        <servlet-class>Comprador.GetModelos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaAnuncio</servlet-name>
        <servlet-class>Comprador.creaAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarPublicacion</servlet-name>
        <servlet-class>Comprador.editarPublicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAnuncios</servlet-name>
        <url-pattern>/GetAnuncios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetModelos</servlet-name>
        <url-pattern>/GetModelos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaAnuncio</servlet-name>
        <url-pattern>/creaAnuncio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarPublicacion</servlet-name>
        <url-pattern>/editarPublicacion.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
